body {
    background-color: #fff;
    font-family: "Righteous", cursive;
    margin: 0px;
}

/*Page header with nav bar*/
#header {
    width: 100%;
    height: 80px;
    background-color: #000;
    color: #fff;
}
#header h1 {
    float: left;
    padding-left: 10px;
}
#navbar li {
    float: right;
    list-style-type: none;
    padding-right: 10px;
    padding-top: 25px;
    font-size: 140%;
}
a {
    color: #fff;
    text-decoration: none;
}
#navbar a:hover {
    border-bottom: 3px solid #fff;
}
.active {
    border-bottom: 3px solid #fff;
}

/*Contact page*/
fieldset {
    width: 95%;
    height: 400px;
    border: 2px solid #000;
    margin: 0 auto;
}
#form-header {
    text-align: left;
    font-size: 150%;
}
/*text inputs and labels*/
.text-input {
    background-color: #ffffff;
    color: #000;
    height: 25px;
    margin: 5px 0 20px 0;
    border-radius: 2px;
}
.text-input:hover {
    background-color: #3a3a3a;
}
#fname {
    width: 200px;
    position: absolute;
    left: 130px;
    top: 150px;
}
#fname-label {
    width: 90px;
    position: absolute;
    left: 40px;
    top: 160px;
}
#lname {
    width: 200px;
    position: absolute;
    left: 440px;
    top: 150px;
}
#lname-label {
    width: 100px;
    position: absolute;
    left: 350px;
    top: 160px;
}
#email {
    width: 485px;
    position: absolute;
    left: 155px;
    top: 200px;
}
#email-label {
    width: 130px;
    position: absolute;
    left: 40px;
    top: 210px;
}
/*Feedback text box*/
#feedback-box {
    position: absolute;
    left: 40px;
    top: 250px;
    width: 600px;
    height: 200px;
}
#feedback-box-label {
    position: absolute;
    left: 40px;
    top: 260px;
}
#submit-button {
    position: absolute;
    left: 40px;
    top: 480px;
}